/* особенности работы: 
    -   !!! протестировано на хроме и фф !!! возможно, для других браузеров потребуется дописать стили для фокуса, ховера, селекта и тд по аналогии с input:-webkit-autofill */

* {
  box-sizing: border-box;
}

.form {
  width: 400px;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  position: relative;

  padding: 10px;

  border: 2px solid brown;

  transition: 0.3s;
}

.input-wrapper.filled {
  background-color: bisque;
}

.input-placeholder {
  position: absolute;

  top: 10px;
  right: 10px;

  color: chocolate;
  font-weight: 600;
  text-shadow: 0 0 6px orange;

  opacity: 0;

  transition: 0.3s;
}

.input-wrapper.filled .input-placeholder {
  opacity: 1;
}

.input-clear {
  width: max-content;

  padding: 4px 12px;

  color: lightgray;
  border: 1px solid lightgray;
  background: #fff;
  pointer-events: none;
  cursor: pointer;

  transition: 0.3s;
}

.input-wrapper.filled .input-clear {
  color: inherit;
  border-color: inherit;
  pointer-events: all;
}

.input {
  width: 100%;
  display: block;

  padding: 10px 20px;

  font-weight: 600;

  /* !!! background-color продублировать для input:auto-fill и input:-webkit-autofill !!! */
  background-color: aquamarine;
  color: red;
  border: 3px solid brown;
  outline: none;

  transition: 0.5s ease-in-out;
}

.input:hover {
  background-color: lightskyblue;
  color: blue;
  border-color: green;
  box-shadow: 8px 8px 8px green;
}

.input:focus,
.input:focus-within {
  border: 3px solid blue;
  color: green;
  border-color: red;
  background-color: lightgreen;
  box-shadow: 8px 8px 8px yellow;
}

/* !!! не протестировано !!! 
    возможно, потребуется дописать стили для фокуса, ховера, селекта и тд по аналогии с input:-webkit-autofill */
input:auto-fill,
textarea:auto-fill,
select:auto-fill {
  /* filter: none !important; */
  /* background-color: inherit; */
  background: inherit;
  background-color: aquamarine;

  transition-delay: 99999s;
  -moz-transition-delay: 0s;

  /*  box-shadow: inherit, 0 0 0px 200px transparent inset;
      transition: background-color 9999999999s ease 9999999999s,
        color 9999999999s ease 9999999999s, border-color 0.5s ease,
        box-shadow 0.5s ease; */
}

/* вот так вот не приписывать, все ломается!
input:auto-fill, */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  /* filter: none !important; */
  background: inherit;
  background-color: aquamarine;

  transition-delay: 99999s;
  -moz-transition-delay: 0s;

  /* при необходимости вместо inherit прописать задаваемый, если есть. если нет, то оставить только inset
  box-shadow: 0 0 0px 200px #fff inset;
  box-shadow: inherit, 0 0 0px 200px #fff inset; */
}

@-moz-document url-prefix() {
  input:auto-fill,
  textarea:auto-fill,
  select:auto-fill {
    transition-delay: 0s;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition-delay: 0s;
  }
}

@media (min--moz-device-pixel-ratio: 0) {
  input:auto-fill,
  textarea:auto-fill,
  select:auto-fill {
    transition-delay: 0s;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition-delay: 0s;
  }
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  transition-delay: 0s;
}

/* ////////////////////////////////// */

/* :-moz-autofill {
  filter: unset !important;
  transition-delay: 0s !important;
} */

/*  input:-webkit-autofill,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: inherit;
      -webkit-box-shadow: 0 0 0px 200px transparent inset;
      transition: background-color 9999999999s ease 9999999999s,
        color 9999999999s ease 9999999999s, border-color 0.5s ease,
        box-shadow 0.5s ease;
    }
    
    /* если предусмотрен внешний box-shadow, покрутить эти параметры. 
    возможно, вместо inherit нужно будет указать точные параметры внешней тени 
    input:-webkit-autofill:focus input:-webkit-autofill,
    input:-webkit-autofill:focus-within input:-webkit-autofill,
    input:-webkit-autofill:hover textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
      -webkit-box-shadow: inherit, 0 0 0px 200px transparent inset;
      transition: background-color 9999999999s ease 9999999999s,
        color 9999999999s ease 9999999999s, border-color 0.5s ease,
        box-shadow 0.5s ease;
    } */
