/* особенности работы: 
    -   !!! протестировано на хроме и фф !!! возможно, для других браузеров потребуется дописать стили для фокуса, ховера, селекта и тд по аналогии с input:-webkit-autofill */

* {
  box-sizing: border-box;
}

.form {
  width: 400px;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.input {
  width: 100%;
  display: block;

  padding: 22px 20px 6px;

  font-weight: 600;

  /* !!! background-color продублировать для input:auto-fill и input:-webkit-autofill !!! */
  background-color: aquamarine;
  color: red;
  border: 3px solid brown;
  outline: none;

  transition: 0.5s ease-in-out;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  position: relative;

  padding: 10px;
  padding-top: 40px;

  border: 2px solid brown;

  transition: 0.3s;
}

.input-filled {
  position: absolute;

  top: 10px;
  right: 10px;

  color: chocolate;
  font-weight: 600;
  text-shadow: 0 0 6px orange;

  opacity: 0;

  transition: 0.3s;
}

.input-placeholder {
  position: absolute;

  top: 40px;
  left: 33px;

  font-size: 18px;

  transition: 0.3s;
}

.input-clear {
  width: max-content;

  padding: 4px 12px;

  color: lightgray;
  border: 1px solid lightgray;
  background: #fff;
  pointer-events: none;
  cursor: pointer;

  transition: 0.3s;
}

.input-wrapper.filled {
  background-color: antiquewhite;
}

.input-wrapper.filled .input-placeholder {
  top: 20px;
  left: 10px;
  font-size: 14px;
}

.input-wrapper.filled .input-filled {
  opacity: 1;
}

.input-wrapper.filled .input-clear {
  color: inherit;
  border-color: inherit;
  pointer-events: all;
}

.input:hover {
  background-color: lightskyblue;
  color: blue;
  border-color: green;
  box-shadow: 8px 8px 8px green;
}

.input:focus,
.input:focus-within {
  border: 3px solid blue;
  color: green;
  border-color: red;
  background-color: lightgreen;
  box-shadow: 8px 8px 8px yellow;
}

input:auto-fill,
textarea:auto-fill,
select:auto-fill {
  background: inherit;
  background-color: aquamarine;

  /* transition-delay: 99999s; */
  /* -moz-transition-delay: 0s; */
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: inherit;
  background-color: aquamarine;

  /* transition-delay: 99999s; */
  /* -moz-transition-delay: 0s; */
}

/* @-moz-document url-prefix() {
  input:auto-fill,
  textarea:auto-fill,
  select:auto-fill {
    transition-delay: 0s;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition-delay: 0s;
  }
}

@media (min--moz-device-pixel-ratio: 0) {
  input:auto-fill,
  textarea:auto-fill,
  select:auto-fill {
    transition-delay: 0s;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition-delay: 0s;
  }
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  transition-delay: 0s;
} */

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  input:auto-fill,
  textarea:auto-fill,
  select:auto-fill {
    transition-delay: 99999s;
    -moz-transition-delay: 0s;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition-delay: 99999s;
    -moz-transition-delay: 0s;
  }
}
